.CG-page-body {
  background-color: var(--background-color);
}

.thumbnail-section {
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 2em;
}

.thumbnail-container {
  overflow: hidden;
  width: 900px;
  height: 333px;
  margin: auto;
  margin-bottom: 2.5em;
  padding: 0.1em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.2em;
  border: black solid 1.5px;
  cursor: pointer;
}

.thumbnail-container .thumbnail-text-box {
  width: 900px;
  height: 33px;
  bottom: 0px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0.08em 0;
  border-radius: 0 0 0.2em 0.2em;
  border-top: 1px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thumbnail-container .thumbnail-text-box h1.project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5px auto 0 auto;
  font-size: 1em;
  font-weight: 350;
  color: black;
}

.thumbnail-container img {
  top: 0;
  padding: 0 0 -2px 0;
  margin: 0;
  width: 900px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.2em 0.2em 0 0;
}

.thumbnail-container:hover .thumbnail-text-box {
  background-color: #fc3c22;
}

.thumbnail-container:hover .thumbnail-text-box h1.project-title {
  color: white;
}

.about-section {
  margin-top: 3em;
}

.about-section .about-block {
  width: 30em;
  margin: auto;
  font-size: 0.83em;
}

.about-section .about-block p {
  text-align: justify;
}

.about-section .about-resume {
  border: 0.07em black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.35em;
  height: 1.5em;
  width: 5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.about-section .about-resume:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  .about-section .about-block {
    width: 90%;
  }
}

@media only screen and (max-width: 950px) {
  .thumbnail-container {
    width: auto;
    height: auto;
    margin-left: 2em;
    margin-right: 2em;
    aspect-ratio: 900/333;
  }
  .thumbnail-container img {
    width: 100%;
    height: auto;
    aspect-ratio: 3/1;
  }
  .thumbnail-container .thumbnail-text-box {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: auto;
    height: 33px;
    right: 0.1em;
    left: 0.1em;
    background-color: var(--background-color);
  }
  .thumbnail-container .thumbnail-text-box h1.project-title {
    color: black;
  }
}

@media only screen and (max-width: 480px) {
  .thumbnail-container {
    width: auto;
    height: auto;
    margin-left: 0.9em;
    margin-right: 0.9em;
    aspect-ratio: 900/365;
  }
  .thumbnail-container img {
    width: 100%;
    height: auto;
    aspect-ratio: 3/1;
  }
  .thumbnail-container .thumbnail-text-box {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: auto;
    height: 33px;
    right: 0.1em;
    left: 0.1em;
    background-color: var(--background-color);
  }
  .thumbnail-container .thumbnail-text-box h1.project-title {
    color: black;
  }
}
/*# sourceMappingURL=PageTemplate.css.map */