* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
article,
body {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  overflow: hidden;
}
#head-section {
  position: relative;
  overflow: overlay;
  //top:-60px;
}
// section {
//   //background-color: purple;
// }
#body-section {
  //display: block;

  position: relative;
  display: flex;
  flex: 1 1 auto;
  top: auto;
  height: calc(100vh - 119px);

  margin: 0.2em 3px;
  //margin-top: 0.2em;
  //background-color: red;
  article,
  .article {
    overflow: auto;

    padding: 0 2.5px;
    padding-right: 4.5px;
    padding-bottom: 0;
    margin-bottom: 0;
    //background-color: rgb(99, 238, 148);
  }
}

.article {
  position: relative;
}

aside {
  min-width: 380px; //넓이

  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 0;
  //background-color: aquamarine;
  font-size: 0.85em;
  text-align: justify;
  flex-grow: 1;
  //height:100%;
  // display: flex;
  // position:fixed;
  h1 {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: 400;
  }
  .award {
    //position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 120px;
    height: 120px;
  }
}

.go-to-top {
  border-top: 1px solid black;

  display: block;
  //clear: both;
  margin: 0;
  margin-top: 1em;
  block-size: 100px;
  height: 125px; //블럭 크기
  text-align: center;
  bottom: 0;
  z-index: 10;
  a {
    //display: block;
    height: 100%;
    text-decoration: none;
    color: black;
  }
  #top-wide {
    display: block;
  }
  #top-mobile {
    display: none;
  }
}
.go-to-top:hover {
  background-color: var(--primary-yellow);
  cursor: pointer;
}

.image-container {
  position: relative;
  //border: 2px solid pink;
  min-width: 16px;
  min-height: 9px;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  img {
    max-width: 100%;
    width: auto;
    height: 100%;
    //max-height: 100%;
    object-fit: cover;
  }
}

.portrait {
  position: relative;
  //border: 2px solid rgb(233, 0, 39);
  min-width: 9px;
  min-height: 16px;
  //aspect-ratio: 9/16;
  width: 100%;
  height: auto;
  margin-right: var(--asideWidth);
  align-items: center;
  display: flex;

  margin-bottom: 0.5em;

  img {
    position: relative;
    object-fit: contain;
    top: 0;
    width: 100%;
    height: 100%;
    //max-height: 800px;

    //display: inline-flex;
  }
}
.half {
  justify-content: center;
  width: 100%;
  //max-width: 45%;
  object-fit: scale-down;
  img {
    max-width: 50%;
  }
}

.youtube-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* || aside */
.softwares-title {
  margin-top: 1em;
  font-weight: 400;
  margin-bottom: -0.8em;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  margin: 1em 0em;
  //border: 1px solid red;
}
.software {
  //border: 1px solid darkgray;
  margin: 0.35em 0;

  span::before {
    //icon
    content: "";
    float: left;
    margin-right: 0.01em;
    margin-top: -0.035em;
    height: 23px;
    width: 30px;

    background-size: 23px 23px;
    background-repeat: no-repeat;
  }
}
.grid-container {
  .grid-item {
    span::before {
      //icon
      content: "";
      float: left;
      text-align: center;
      padding: 0;
      margin-left: -0.06em;
      margin-right: 0em;
      margin-top: 0em;
      height: 23px;
      width: 23px;

      background-size: 23px 23px;
      background-repeat: no-repeat;
    }
  }
}

.link-box {
  //margin-top: -0.5em;
  border: 0.065em solid black;
  border-radius: 0.3em;
  width: 100%;
  height: 1.23em;
  display: flex;
  justify-content: center;
  text-align: center;

  a {
    display: block;
    width: 100%;
    color: black;
    text-decoration: none;
  }
}

.link-box:hover {
  background-color: var(--primary-color);
  cursor: pointer;
  a {
    color: white;
  }
}

/* || Icons */
span.zbrush::before {
  background-image: url("../images/icons/zbrush-icon.png");
}
span.max::before {
  background-image: url("../images/icons/3dsMax-icon.png");
}
span.maya::before {
  background-image: url("../images/icons/maya-icon.png");
}
span.arnold::before {
  background-image: url("../images/icons/arnold-icon.png");
}
span.substancePainter::before {
  background-image: url("../images/icons/substancePainter-icon.png");
  margin-top: 0.537em;
}
span.photoshop::before {
  background-image: url("../images/icons/photoshop-icon.png");
}
span.unity::before {
  background-image: url("../images/icons/unity-icon.png");
}
span.blender::before {
  background-image: url("../images/icons/blender-icon.png");
}
span.illustrator::before {
  background-image: url("../images/icons/illustrator-icon.png");
}
span.vuforia::before {
  background-image: url("../images/icons/vuforia-icon.png");
}
span.marvelousDesigner::before {
  background-image: url("../images/icons/marvelousDesigner-icon.png");
  margin-top: 0.537em;
}
span.premierePro::before {
  background-image: url("../images/icons/PremierePro-icon.png");
}
span.afterEffects::before {
  background-image: url("../images/icons/AfterEffects-icon.png");
}

@media only screen and (max-width: 986px) {
  body {
    overflow: overlay;
    height: auto;
    position: relative;
    //display: contents;
  }
  #head-section {
    top: 0;
    //display: block;
    //position: relative;
  }
  #body-section {
    position: relative;
    display: block;
    margin-bottom: 2em;
    height: auto;
    padding: 0 0.35em;
    //overflow: auto;
  }

  aside {
    float: none;
    width: 100%;
    padding: 0.3em;
    display: block;
    //position: relative;

    //   .empty {
    //     margin: 0;
    //     height: 0.5em;
    //   }
  }
  .go-to-top {
    border-top: 1px solid black;

    display: block;
    clear: both;
    margin: 1.3em 0;
    //margin-top: 1.6em;

    text-align: center;
    text-decoration: none;
    height: auto;
    z-index: 7;
    div {
      padding-top: 2px;
    }
    #top-wide {
      display: none;
    }
    #top-mobile {
      display: block;
    }
  }
  .article {
    position: relative;
    display: block;
    width: 100%;
    padding-right: 0.65em;
    //margin-right: 5em;
  }
  .portrait {
    position: relative;
    //border: 2px solid pink;
    //min-width: 16px;
    //min-height: 9px;
    width: 100%;
    height: auto;
    //aspect-ratio: 9/16;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
  }
}
