:root {
  --asideWidth: 380px;
}

html,
body {
  margin-bottom: 0.7em;
}

section {
  position: relative;
  margin: 0 3px;
  margin-top: 0.2em;
}

aside,
.article {
  box-sizing: border-box;
}

.article {
  padding-left: 0.2em;
  position: absolute;
  left: 0;
  right: var(--asideWidth);
}
.article .go-to-top {
  border-top: 1px solid black;
  position: relative;
  display: block;
  margin: 0;
  margin-top: 1em;
  text-align: center;
}
.article .go-to-top a {
  text-decoration: none;
  color: black;
}
.article .empty {
  margin: 0;
  height: 0.5em;
}
.article div {
  margin-top: 0.1em;
  bottom: 0%;
}

.go-to-top:hover {
  background-color: var(--primary-yellow);
  cursor: pointer;
}

aside {
  position: fixed;
  margin-right: 0.1em;
  padding: 1em;
  padding-left: 0.5em;
  padding-top: 0;
  text-align: justify;
  width: var(--asideWidth);
  height: 100%;
  font-size: 0.85em;
  right: 0;
  overflow-x: hidden;
}
aside h1 {
  margin-top: 0;
  margin-bottom: -0.5em;
  font-size: 1.5em;
  font-weight: 400;
}
aside .award {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 120px;
  height: 120px;
}

.image-container {
  position: relative;
  min-width: 16px;
  min-height: 9px;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}
.image-container img {
  max-width: 100%;
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-container-two .column {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 5px;
  margin: 0;
}
.image-container-two .column img {
  width: 100%;
}

.image-container-two::after {
  content: "";
  clear: both;
  display: table;
}

.iframeContainer {
  position: relative;
  padding: 56.25% 0 0 0;
}

.portrait {
  position: relative;
  min-width: 9px;
  min-height: 16px;
  width: 100%;
  height: auto;
  margin-right: var(--asideWidth);
  align-items: center;
  display: flex;
  margin-bottom: 0.5em;
}
.portrait img {
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  width: 100%;
  height: 100%;
}

.half {
  justify-content: center;
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.half img {
  max-width: 50%;
}

.softwares-title {
  font-weight: 400;
  margin-bottom: -0.8em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: 1em 0em;
}

.youtube-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
}
.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.link-box {
  margin-top: -0.5em;
  border: 0.065em solid black;
  border-radius: 0.3em;
  width: 100%;
  height: 1.1em;
  display: flex;
  justify-content: center;
  text-align: center;
}
.link-box a {
  display: block;
  width: 100%;
  color: black;
  text-decoration: none;
}

.link-box:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}
.link-box:hover a {
  color: white;
}

.software {
  margin: 0.35em 0;
}
.software span::before {
  content: "";
  float: left;
  margin-right: 0.01em;
  margin-top: -0.035em;
  height: 23px;
  width: 30px;
  background-size: 23px 23px;
  background-repeat: no-repeat;
}

.grid-container .grid-item span::before {
  content: "";
  float: left;
  text-align: center;
  padding: 0;
  margin-left: -0.06em;
  margin-right: 0em;
  margin-top: 0em;
  height: 23px;
  width: 23px;
  background-size: 23px 23px;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
}
.oasis-grid-container {
  display: grid;
  grid-template-columns: 57px 2fr 2fr 6fr;
  max-width: 1000px;
  margin: auto;
  border: black 1px solid;
  font-family: "SUITE-Regular";
}
.oasis-grid-container .item {
  border: black 1px solid;
  padding: 5px;
  margin: 0;
}
.oasis-grid-container .item img {
  height: 45px;
}

.oasis-grid-container2 {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  max-width: 1000px;
  margin: auto;
  border: black 1px solid;
  font-family: "SUITE-Regular";
}
.oasis-grid-container2 .item {
  border: black 1px solid;
  padding: 5px;
  margin: 0;
}
.oasis-grid-container2 .item img {
  height: 40px;
}

span.zbrush::before {
  background-image: url("../images/icons/zbrush-icon.png");
}

span.max::before {
  background-image: url("../images/icons/3dsMax-icon.png");
}

span.maya::before {
  background-image: url("../images/icons/maya-icon.png");
}

span.arnold::before {
  background-image: url("../images/icons/arnold-icon.png");
}

span.substancePainter::before {
  background-image: url("../images/icons/substancePainter-icon.png");
  margin-top: 0.537em;
}

span.substanceDesigner::before {
  background-image: url("../images/icons/SubstanceDesigner-icon.png");
  margin-top: 0.537em;
}

span.photoshop::before {
  background-image: url("../images/icons/photoshop-icon.png");
}

span.unity::before {
  background-image: url("../images/icons/unity-icon.png");
}

span.blender::before {
  background-image: url("../images/icons/blender-icon.png");
}

span.illustrator::before {
  background-image: url("../images/icons/illustrator-icon.png");
}

span.vuforia::before {
  background-image: url("../images/icons/vuforia-icon.png");
}

span.marvelousDesigner::before {
  background-image: url("../images/icons/marvelousDesigner-icon.png");
  margin-top: 0.537em;
}

span.premierePro::before {
  background-image: url("../images/icons/PremierePro-icon.png");
}

span.afterEffects::before {
  background-image: url("../images/icons/AfterEffects-icon.png");
}

@media only screen and (max-width: 986px) {
  aside {
    float: none;
    width: 100%;
    padding: 0.3em;
    padding-right: 1.2em;
    position: relative;
  }
  aside .go-to-top {
    border-top: 1px solid black;
    position: relative;
    display: block;
    clear: both;
    margin: 0;
    margin-top: 1.6em;
    text-align: center;
  }
  aside .go-to-top div {
    padding-top: 2px;
  }
  aside .empty {
    margin: 55px;
    height: 55em;
  }
  .article {
    position: relative;
    width: 100%;
    padding-right: 0.65em;
    margin-right: 5em;
  }
  .portrait {
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
  }
  .iframeContainer {
    padding: 95% 0 0 0;
    position: relative;
  }
}/*# sourceMappingURL=SubPage.css.map */